@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
@keyframes rotheart1 {
  0% {
    opacity: 0;
    transform: scale(1) rotate();
    -moz-transform: scale(1) rotate();
    -webkit-transform: scale(1) rotate();
  }
  40% {
    opacity: 0.7;
    transform: scale(1.5);
    transform: scaleX(1.05) rotate 120deg;
    -moz-transform: scale(1.5);
    -moz-transform: scaleX(1.05) rotate 120deg;
    -webkit-transform: scale(1.5);
    -webkit-transform: scaleX(1.05) rotate 120deg;
  }
  80% {
    opacity: 0.9;
    -moz-transform: scale(1.25) rotate(360deg);
    -webkit-transform: scale(1.25) rotate(360deg);
    transform: scale(1.25) rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate();
    -moz-transform: scale(1) rotate();
    -webkit-transform: scale(1) rotate();
  }
}
@keyframes rotheart {
  0% {
    transform: scale(1) rotate();
    -moz-transform: scale(1) rotate();
    -webkit-transform: scale(1) rotate();
  }
  40% {
    transform: scale(1.5);
    transform: scaleX(1.05) rotate(120deg);
    -moz-transform: scale(1.5);
    transform: scaleX(1.05) rotate(120deg);
    -webkit-transform: scale(1.5);
    transform: scaleX(1.05) rotate(120deg);
  }
  80% {
    transform: scale(1.25) rotate(360deg);
    -moz-transform: scale(1.25) rotate(360deg);
    -moz-transform: scale(1.25) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate();
    -moz-transform: scale(1) rotate();
    -webkit-transform: scale(1) rotate();
  }
}
@keyframes myfirst {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 150px;
    top: 0px;
  }
  50% {
    left: 150px;
    top: 150px;
  }
  75% {
    left: 0px;
    top: 150px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
@keyframes myfirst2 {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 0px;
    top: 150px;
  }
  50% {
    left: 150px;
    top: 150px;
  }
  75% {
    left: 150px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
@keyframes myfirst3 {
  0% {
    background-color: #9356dc;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 0px;
    top: -80px;
  }
  50% {
    background-color: #fa79da;
    left: 80px;
    top: -80px;
  }
  75% {
    background-color: green;
    left: 80px;
    top: 0px;
  }
  100% {
    background-color: #9356dc;
    left: 0px;
    top: 0px;
  }
}
@keyframes myfirst4 {
  0% {
    background-color: #9356dc;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: #fa79da;
    left: 0px;
    top: 150px;
  }
  50% {
    background-color: yellow;
    left: 150px;
    top: 150px;
  }
  75% {
    background-color: green;
    left: 150px;
    top: 0px;
  }
  100% {
    background-color: #9356dc;
    left: 0px;
    top: 0px;
  }
}
@keyframes image {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  40% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
  }
  80% {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
  }
}
@keyframes beat {
  0% {
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
  }
  20% {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
  }
  40% {
    transform: scale(0.75);
    -moz-transform: scale(0.75);
    -webkit-transform: scale(0.75);
  }
  60% {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
  }
  80% {
    transform: scale(0.75);
    -moz-transform: scale(0.75);
    -webkit-transform: scale(0.75);
  }
  100% {
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
  }
}
body {
  max-width: 100%;
  background: linear-gradient(#15363b, #4bc0d8);
  margin: 0;
}

.heart {
  position: relative;
  box-sizing: border-box;
  margin-left: 30%;
  width: 80px;
  height: 80px;
}
.heart .fa-heart {
  position: absolute;
  background: transparent;
  font-size: 3rem;
  color: #fa79da;
  border-radius: 50px;
  width: 50px;
  height: 70px;
  text-align: center;
  transform: translateX(70px);
  -moz-transform: translateX(70px);
  -webkit-transform: translateX(70px);
}
.heart .fa-gradient {
  font-weight: bold;
  -moz-animation: rotheart1 3s 200ms forwards infinite ease-in;
  -webkit-animation: rotheart1 3s 200ms forwards infinite ease-in;
  animation: rotheart 3s 200ms forwards infinite ease-in;
  background: linear-gradient(#9356dc, #fa79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart1 {
  position: relative;
  box-sizing: border-box;
  margin-left: 30%;
  width: 80px;
  height: 80px;
}
.heart1 .fa-heart {
  position: absolute;
  background: transparent;
  font-size: 3rem;
  color: red;
  border-radius: 50px;
  width: 50px;
  height: 70px;
  text-align: center;
  transform: translateX(-70px);
  -moz-transform: translateX(-70px);
  -webkit-transform: translateX(-70px);
}
.heart1 .fa-gradient1 {
  font-weight: bold;
  -moz-animation: rotheart 3s 100ms backwards infinite ease-in;
  -webkit-animation: rotheart 3s 100ms backwards infinite ease-in;
  animation: rotheart 3s 100ms backwards infinite ease-in;
  background: red;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart2 {
  position: relative;
  box-sizing: border-box;
  margin-left: 30%;
  width: 80px;
  height: 80px;
}
.heart2 .fa-heart {
  position: absolute;
  background: transparent;
  font-size: 3rem;
  color: red;
  border-radius: 50px;
  width: 50px;
  height: 70px;
  text-align: center;
  transform: translateX(-70px);
  -moz-transform: translateX(-70px);
  -webkit-transform: translateX(-70px);
}
.heart2 .fa-gradient2 {
  font-weight: bold;
  animation: myfirst4 linear 5s infinite;
  background: red;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart3 {
  position: relative;
  box-sizing: border-box;
  margin-left: 30%;
  width: 80px;
  height: 80px;
}
.heart3 .fa-heart {
  position: absolute;
  background: transparent;
  font-size: 3rem;
  color: red;
  border-radius: 50px;
  width: 50px;
  height: 70px;
  text-align: center;
  transform: translateX(-70px);
  -moz-transform: translateX(-70px);
  -webkit-transform: translateX(-70px);
}
.heart3 .fa-gradient3 {
  font-weight: bold;
  animation: myfirst3 5s linear infinite;
  background: red;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  height: 100%;
  margin: 5% 0 0 3%;
  padding-left: 5%;
  border-radius: 110px 110px 110px 110px;
}

.kids {
  height: 200px;
  width: 200px;
  border-radius: 25px 30px 0px 110px;
  align-items: center;
  animation: image 8s backwards infinite alternate;
  -moz-animation: image 8s backwards infinite alternate;
  -webkit-animation: image 8s backwards infinite alternate;
  margin-bottom: 5%;
}

.us {
  height: 200px;
  width: 200px;
  border-radius: 25px 30px 0px 110px;
  animation: beat 5s linear infinite;
  -moz-animation: beat 8s backwards infinite alternate;
  -webkit-animation: beat 8s backwards infinite alternate;
}

.card-text {
  text-align: center;
}
.card-text h1, .card-text h2 {
  font-family: "Love Ya Like A Sister", cursive;
  color: white;
  border-radius: 50px;
  position: relative;
}
.card-text h1 {
  width: 50%;
  height: 80px;
  animation: myfirst 8s linear 2s infinite alternate;
  -moz-animation: myfirst 8s linear 2s infinite alternate;
  -webkit-animation: myfirst 8s linear 2s infinite alternate;
}
.card-text h2 {
  width: 55%;
  height: 80px;
  padding-top: 4%;
  animation: myfirst2 8s linear 2s infinite alternate;
  -moz-animation: myfirst2 8s linear 2s infinite alternate;
  -webkit-animation: myfirst2 8s linear 2s infinite alternate;
}

/*# sourceMappingURL=card.css.map */
