@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
@keyframes rotheart1 {
  0% {
    opacity: 0;
    transform: scale(1) rotate();
  }
  40% {
    opacity: 0.7;
    transform: scale(1.5);
    transform: scaleX(1.05) rotate 120deg;
  }
  80% {
    opacity: 0.9;
    transform: scale(1.25) rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate();
  }
}
@keyframes rotheart {
  0% {
    transform: scale(1) rotate();
  }
  40% {
    transform: scale(1.5);
    transform: scaleX(1.05) rotate(120deg);
  }
  80% {
    transform: scale(1.25) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate();
  }
}
body {
  border: solid 1px;
  max-width: 100%;
  background: linear-gradient(#58cfe4, #00ff4c);
}

@keyframes myfirst {
  0% {
    background-color: #9356dc;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 150px;
    top: 0px;
  }
  50% {
    background-color: #fa79da;
    left: 150px;
    top: 150px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 150px;
  }
  100% {
    background-color: #9356dc;
    left: 0px;
    top: 0px;
  }
}
@keyframes myfirst2 {
  0% {
    background-color: #9356dc;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 0px;
    top: 150px;
  }
  50% {
    background-color: #fa79da;
    left: 150px;
    top: 150px;
  }
  75% {
    background-color: green;
    left: 150px;
    top: 0px;
  }
  100% {
    background-color: #9356dc;
    left: 0px;
    top: 0px;
  }
}
.heart {
  position: relative;
  box-sizing: border-box;
  margin-left: 30%;
  width: 80px;
  height: 80px;
}
.heart .fa-heart {
  position: absolute;
  background: transparent;
  font-size: 3rem;
  color: #fa79da;
  border-radius: 50px;
  width: 50px;
  height: 70px;
  text-align: center;
  transform: translateX(70px);
}
.heart .fa-gradient {
  font-weight: bold;
  -moz-animation: rotheart1 3s 200ms forwards infinite ease-in;
  -webkit-animation: rotheart1 3s 200ms forwards infinite ease-in;
  animation: rotheart 3s 200ms forwards infinite ease-in;
  background: linear-gradient(#9356dc, #fa79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart1 {
  position: relative;
  box-sizing: border-box;
  margin-left: 30%;
  width: 80px;
  height: 80px;
}
.heart1 .fa-heart {
  position: absolute;
  background: transparent;
  font-size: 3rem;
  color: red;
  border-radius: 50px;
  width: 50px;
  height: 70px;
  text-align: center;
  transform: translateX(-70px);
}
.heart1 .fa-gradient1 {
  font-weight: bold;
  -moz-animation: rotheart 3s 100ms backwards infinite ease-in;
  -webkit-animation: rotheart 3s 100ms backwards infinite ease-in;
  animation: rotheart 3s 100ms backwards infinite ease-in;
  background: red;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart2 {
  position: relative;
  box-sizing: border-box;
  margin-left: 30%;
  width: 80px;
  height: 80px;
}
.heart2 .fa-heart {
  position: absolute;
  background: transparent;
  font-size: 3rem;
  color: red;
  border-radius: 50px;
  width: 50px;
  height: 70px;
  text-align: center;
  transform: translateX(-70px);
}
.heart2 .fa-gradient2 {
  font-weight: bold;
  -moz-animation: rotheart 3s 100ms backwards infinite ease-in;
  -webkit-animation: rotheart 3s 100ms backwards infinite ease-in;
  animation: rotheart 3s 100ms backwards infinite ease-in;
  background: red;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart3 {
  position: relative;
  box-sizing: border-box;
  margin-left: 30%;
  width: 80px;
  height: 80px;
}
.heart3 .fa-heart {
  position: absolute;
  background: transparent;
  font-size: 3rem;
  color: red;
  border-radius: 50px;
  width: 50px;
  height: 70px;
  text-align: center;
  transform: translateX(-70px);
}
.heart3 .fa-gradient3 {
  font-weight: bold;
  -moz-animation: rotheart 3s 100ms backwards infinite ease-in;
  -webkit-animation: rotheart 3s 100ms backwards infinite ease-in;
  animation: rotheart 3s 100ms backwards infinite ease-in;
  background: red;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  border: solid 1px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  height: 100%;
  margin: 15% 0 0 3%;
  background: linear-gradient(#9356dc, #fa79da);
  padding-left: 5%;
  border-radius: 0px 110px 25px 30px;
}

.kids {
  height: 200px;
  width: 200px;
  border-radius: 25px 30px 0px 110px;
  float: right;
  margin-right: 2%;
}

.us {
  height: 200px;
  width: 200px;
  border-radius: 25px 30px 0px 110px;
}

.card-text {
  text-align: center;
}
.card-text h1, .card-text h2 {
  font-family: "Love Ya Like A Sister", cursive;
  color: white;
  border-radius: 50px;
  position: relative;
}
.card-text h1 {
  width: 50%;
  height: 80px;
  animation: myfirst 8s linear 2s infinite alternate;
}
.card-text h2 {
  width: 55%;
  height: 80px;
  padding-top: 4%;
  animation: myfirst2 8s linear 2s infinite alternate;
}

/*# sourceMappingURL=card.css.map */
