@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

$color-secondary:#fa79da;
$color-primary:#9356dc;

$color-heart:linear-gradient( $color-primary , $color-secondary);
$color-body: linear-gradient( rgb(88, 207, 228), rgb(0, 255, 76));
@keyframes heartbeat{
    0%{
      opacity:0;
      transform: scale(1) rotate(0deg);
    }
    40%{
      opacity:0.7;
      transform: scale(1.5); transform: scaleX(1.4) rotate (150deg);
    }
    80%{
      opacity:0.9;
      transform: scale(1.25) rotate( 220deg);
    }
    100%{
      opacity:1;
      transform: scale(1) rotate() ;
    }
  }
@keyframes rotheart{
  0%{
    transform: scale(1) rotate(0deg);
  }
  40%{
    transform: scale(1.5); transform: scaleX(1.05) rotate(90deg);
  }
  80%{
    transform:scale(1.8) rotate(180deg);
  }
  100%{
    transform:scale(1) rotate() ;
  }
}
  body{
    max-width:100%;
    background:$color-body;
  }
  
.heart{ 
    position:relative;
    box-sizing: border-box;
    margin-left:30%;
    width: 80px;
    height:80px;
  
   & .fa-heart{
      position:absolute;
      background:rgb(0, 255, 76);
      font-size:3rem;  
      color:$color-secondary;
      border-radius:50px;
      width:50px;
      height:70px;
      text-align: center;
      transform: translateX(70px);
    }
    & .fa-gradient{
        font-weight:bold;
        -moz-animation:heartbeat 3s 200ms forwards infinite ease-in;
        -webkit-animation:heartbeat  3s  200ms forwards infinite ease-in;
        animation: heartbeat 3s 200ms forwards infinite ease-in;
        background:$color-heart;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
  } 
  .heart1{ 
    position:relative;
    box-sizing: border-box;
    margin-left:30%;
    width: 80px;
    height:80px;

  
 .fa-heart{
    position:absolute;
    background:rgb(0, 255, 76);
    font-size:3rem;  
    color:red;
    border-radius:50px;
    width:50px;
    height:70px;
    text-align: center;
    transform: translateX(-70px);
    }
    & .fa-gradient1{
      font-weight:bold;
      -moz-animation:rotheart 3s  100ms backwards infinite ease-in;
      -webkit-animation:rotheart  3s 100ms backwards infinite ease-in;
      animation: rotheart 3s 100ms backwards infinite ease-in;
      background:red;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

.container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    max-width:90%;
    height:50%;
    margin:50% 0 0 3%;
    background: $color-heart;
    padding-left:5%;
    border-radius: 0px 110px 25px 30px;
}
.kids{
    height:200px;
    width:200px;
    border-radius:25px 30px 0px 110px;
    margin-left:40%;
} 

.us{
    height:200px;
    width:200px;
    border-radius:25px 30px 0px 110px;
}
h1, h2{
    font-family:'Love Ya Like A Sister', cursive;
    color:white;
}